---
import { Container } from '@components/odyssey-theme';
import Layout from './Page.astro'; 
import { generateTagData } from '../utils/helpers';

const { content: { title, description, publishDate, canonicalURL, featuredImage, tags } } = Astro.props;

let allTagsData = tags && tags.length > 0 ? generateTagData(tags) : [];

const seo = {
  title,
  description,
  publishDate,
  canonicalURL,
  image: featuredImage,
};
---
<Layout seo={seo}> 
  <head>
    <link 
      rel="stylesheet" 
      href="https://cdn.jsdelivr.net/npm/katex@0.16.11/dist/katex.min.css"
    />
  </head>

  <div class="post-header__container"> 
    <h1>{title}</h1>
    <p class="post-layout__date">
      <time><em>{publishDate}</em></time>
    </p>
    {featuredImage && <img class="post-layout__img" src={featuredImage} alt={title} />}
  </div>

  <Container narrow>  
    <article id="article">
      <slot></slot>
      
      {allTagsData.length > 0 && (
        <div class="post-tags">
          {allTagsData.map((tag, index) => (
            <>
              {index > 0 && ", "}
              <a href={`/blog/tags/${tag.slug}`} class="post-tag">#{tag.title}</a>
            </>
          ))}
        </div>
      )}
    </article>
  </Container>
</Layout>

<style>
  #article {
    padding-bottom: 3rem;
  }
  .post-header__container {
    max-width: var(--theme-blog-post-header-width);
    margin: 1rem auto;
    padding: var(--container-padding);
  }
  .post-layout__img {
    margin: 0 auto 1rem auto;
    border-radius: var(--theme-shape-radius);
  }
  .post-layout__date {
    margin-bottom: 1rem;
    opacity: 0.84;
  }
  .post-tags {
    margin-top: 2rem;
    padding-top: 1rem;
    border-top: 1px solid var(--theme-border-color);
    font-size: 0.9rem;
    color: var(--theme-text-secondary);
  }
  .post-tag {
    text-decoration: none;
    color: var(--theme-accent-color);
  }
  .post-tag:hover {
    text-decoration: underline;
  }
</style>
